<div class="z-100 absolute top-[11vh] right-0 pl-10 pb-10 pr-4 bg-[#262626] rounded-bl-4xl">

    <ul class="list-none flex flex-col justify-center items-end text-3xl gap-3.5">

        <li>
            <a (click)="closeMenuOnNavigation()" class="text-white mr-[2vw] hover:text-gray-500" routerLink="/projects" routerLinkActive="!text-[#CD49D7]">Projects</a>
        </li>

        <li>
            <a (click)="closeMenuOnNavigation()" class="text-white mr-[2vw]  hover:text-gray-500" routerLink="/contact" routerLinkActive="!text-[#CD49D7]">Contact</a>
        </li>

        <li>
            <a (click)="closeMenuOnNavigation()" class="text-white mr-[2vw] hover:text-gray-500" routerLink="/blog" routerLinkActive="!text-[#CD49D7]">Blog</a>
        </li>

    </ul>

</div>
