<header class="flex items-center justify-between h-[11vh] md:h-[7vh] bg-neutral-800 w-full">

    <a (click)="closeMenu()" class="text-white ml-4 md:ml-[2vw] hover:text-gray-500 text-2xl" routerLink="/" routerLinkActive="!text-[#CD49D7]" [routerLinkActiveOptions]="{exact: true}" >charlescrane.dev</a>

    <nav class="md:flex items-center justify-around h-full hidden">

        <a class="text-white mr-[2vw] text-lg hover:text-gray-500" routerLink="/projects" routerLinkActive="!text-[#CD49D7]" (click)="closeMenu()">Projects</a>

        <a class="text-white mr-[2vw] text-lg hover:text-gray-500" routerLink="/contact" routerLinkActive="!text-[#CD49D7]" (click)="closeMenu()">Contact</a>

        <a class="text-white mr-[2vw] text-lg hover:text-gray-500" routerLink="/blog" routerLinkActive="!text-[#CD49D7]" (click)="closeMenu()">Blog</a>

    </nav>

    <button mat-icon-button (click)="toggleMenu()" class="!block md:!hidden mr-2">
        <mat-icon style="color: white;">{{ isOpen() ? 'close' : 'menu' }}</mat-icon>
    </button>

</header>
