<header class="flex items-center justify-between h-[7vh] bg-neutral-800 w-full">

    <a class="text-white ml-[2vw] hover:text-gray-500 text-2xl" routerLink="/">charlescrane.dev</a>

    <nav class="md:flex items-center justify-around h-full hidden">

        <a class="text-white mr-[2vw] text-lg hover:text-gray-500" routerLink="/projects">Projects</a>

        <a class="text-white mr-[2vw] text-lg hover:text-gray-500" routerLink="/contact">Contact</a>

        <a class="text-white mr-[2vw] text-lg hover:text-gray-500" routerLink="/blog">Blog</a>

    </nav>

</header>
