<div class="flex flex-col md:flex-row items-center justify-center bg-gradient-to-r from-purple-500 to-pink-500 h-[600px] text-white p-[8%]">

    <div class="md:w-[400px] w-[200px] bg-[#000000] md:h-[400px] h-[200px] rounded-[100%] flex items-center justify-center">

        <p class="text-white">Insert PFP here later</p>

    </div>

    <div class="md:w-[50%] mt-[50px] md:mt-0 flex flex-col items-start justify-around md:ml-3">

        <h1 class="text-3xl font-bold m-3">Hi, I'm Charles!</h1>

        <p class="text-xl m-3">I am a software developer and cybersecurity enthusiast from Spain, currently learning web development at MEDAC/DAVANTE</p>

        <span class="flex items-center justify-between w-[20%] pl-2 gap-2.5">

            <a target="_blank" href="https://x.com/cc_pwnn">
                <fa-icon size="3x" [icon]="faX"></fa-icon>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/charlesdavidcrane/">
                <fa-icon size="3x" [icon]="faLinkedin"></fa-icon>
            </a>
            <a target="_blank" href="https://github.com/ChxrlieExe33">
                <fa-icon size="3x" [icon]="faGithub"></fa-icon>
            </a>

        </span>

    </div>

</div>
